.undone{
    height:58px;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    width: 600px;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
}
.done{
    height:58px;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    width: 600px;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
}