.Layout{
    width: 600px;
    padding-bottom: 40px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 150px;
    border-radius:30px;
    box-shadow: 0 0  5px 2px rgba(0, 0, 0, 0.3);
}
.Title{
    margin-top: 30px;
    margin-bottom: 5px;
    font-weight:100;
    color: rgba(175, 47, 47, 0.15);;
    font:  100px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.Head{
    width:600px;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}


.NavLink{
    text-decoration:none
}
.switch{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
    height: 20px;
    margin-bottom:10px;
    width:600px
}
.button {
    outline:none;
    transition-duration: 0.4s;
    border-radius: 2px;
    background-color: #ffffff; 
    border: 2px solid #e7e7e7;
    color: black;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
    height: 40px;
    width: 100px;
  }
  
  .button:hover {
    background-color: #e7e7e7;; /* Green */
    color: black;
    box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.24)
  }